.divider3
%table.bill_votes
  %thead
    %tr
      %th
        - if votes.size > 0
          = party_logo_small(@party)
          = @party.display_name
          = party_vote == 'no vote' ? "didn't vote" : " voted: #{party_vote}"
          %br
          = party_logo_small(@other_party)
          = @other_party.display_name
          = other_party_vote == 'no vote' ? "didn't vote" : " voted: #{other_party_vote}"
        - else
          &nbsp;
      - if party_vote2 && votes2 && votes2.size > 0
        %th
          = party_logo_small(@party)
          = @party.display_name
          = party_vote2 == 'no vote' ? "didn't vote" : " voted: #{party_vote2}"
          %br
          = party_logo_small(@other_party)
          = @other_party.display_name
          = other_party_vote2 == 'no vote' ? "didn't vote" : " voted: #{other_party_vote2}"
  %tbody
    - row_count = (party_vote2 && votes2) ? [votes.size, votes2.size].max : votes.size
    - 0.upto(row_count -1) do |index|
      %tr
        %td
          - if index < votes.size
            - vote = votes[index]
            - bill_name = (vote.bill_name || 'no bill ' + vote.debate.date.to_s + vote.bill_names)
            - date = vote.debate.date
            - name = vote.bill_name
            - begin
              - bill = Bill.from_name_and_date(name, date)
            - rescue
              - bill = nil
            - if vote.passed_third_reading?
              %span.assented_bill= bill ? link_to_bill(bill) : bill_name
            - else
              %span.negatived_bill= bill ? link_to_bill(bill) : bill_name
          - else
            &nbsp;
        - if party_vote2 && votes2
          %td
            - if index < votes2.size
              - vote = votes2[index]
              - bill_name = (vote.bill_name || 'no bill ' + vote.debate.date.to_s + vote.bill_names)
              - date = vote.debate.date
              - name = vote.bill_name
              - begin
                - bill = Bill.from_name_and_date(name, date)
              - rescue
                - bill = nil
              - if vote.passed_third_reading?
                %span.assented_bill=  bill ? link_to_bill(bill) : bill_name
              - else
                %span.negatived_bill=  bill ? link_to_bill(bill) : bill_name

