- @title = %Q[#{@party.name}: Party in Aotearoa New Zealand's Parliament]
#normalcontent
  %h1= @party.short + ' vs ' + @other_party.short
  .divider3
  %h2 Voted noe together on third readings of these bills
  - @noe_votes_together.each do |vote|
    - if vote.bill_name == 'no bill'
      %p= 'no bill ' + vote.bill_names
    - else
      %p= vote.bill_name
  %h2 Voted aye together on third readings of these bills
  - @aye_votes_together.each do |vote|
    - if vote.bill_name == 'no bill'
      %p= 'no bill ' + vote.debate.date.to_s + ' ' + vote.bill_names
    - else
      %p= vote.bill_name
