- @javascript = "prototype"
- @title = %Q[#{@party.name}: Party in Aotearoa New Zealand's Parliament]
- if @party.mp_count == 0
  - description = 'registered political party that had no MPs in the 48th Parliament.'
- else
  - description = "registered political party that had #{pluralize(@party.mp_count,'MP')} in the 48th New Zealand Parliament."
- @description = %Q[#{@party.name} are a #{description.sub('Reg','reg')}]
#normalcontent
  %h1= party_logo(@party) + @name.sub(', ',',<br />')
  .divider3
  %p= @description
  - if @party_votes_size > 0
    %p
      = @party.display_name
      in the 48th Parliament:
      %ul.votes
        %li
          voted in
          - if @party_votes_size == @total_party_votes_size
            all of the
          - else
            = number_to_percentage(@party_vote_percent, :precision => 0)
            = "(#{number_with_delimiter(@party_votes_size)})"
            of the
          = number_with_delimiter(@total_party_votes_size)
          party votes that occurred
        %li
          voted in
          - if @bill_votes_size == @total_bill_votes_size
            all of the
          - else
            = number_to_percentage(@bill_vote_percent, :precision => 0)
            = "(#{number_with_delimiter(@bill_votes_size)})"
            of the
          = number_with_delimiter(@total_bill_votes_size)
          final bill reading party votes that occurred
  - if false
    .divider3
    - if @bills_in_charge_of.size > 0
      %div{ :class=>"post", :id=>"bills_in_charge_of" }
        %h3 Bills in charge of
        .contentarea
          %ul.linklist
            = render :partial => 'bill_link', :collection => @bills_in_charge_of
  .divider3
  %div{ :class=>"post", :id=>"external_links" }
    %h3 External links
    .contentarea
      %ul.linklist
        %li#wikipedia= link_to('Wikipedia entry on ' + @party.short, @party.wikipedia_url)
        - if @party.url
          %li#party_website
            = link_to('Website for ' + @party.short, @party.url, :rel=>"nofollow")

