- @javascript = :defaults
- @title = "MPs in Aotearoa New Zealand's Parliament"
#normalcontent
  %h1 MPs
  .contentarea
    %p MPs in the 49th New Zealand Parliament.
    - first = @by_first ? 'First name' : link_to('First name', {:action=>'by_first'})
    - last = @by_last   ? 'Last name'  : link_to('Last name', {:controller=>'mps'})
    - party = @by_party ? 'Party'      : link_to('Party', {:action=>'by_party'})
    - electorate = @by_electorate ? 'Electorate' : link_to('Electorate', {:action=>'by_electorate'})
    %p= %Q[Sort by: #{first} | #{ last } | #{ party } | #{ electorate }]
    %table
      %thead
        %th Re-sitting MP
        %th New MP
        %th Name
        %th Party
        %th Electorate
      %tbody
        = render :partial => 'link_to_mp', :collection => @mps
