- @javascript = "prototype"
- @description = %Q[#{@name}, #{@role_description}, Aotearoa New Zealand's Parliament]
- @title = %Q[#{@name}: #{@role_description}: Aotearoa New Zealand's Parliament]
#primarycontainer
  #normalcontent
    = portrait(@mp)
    %h1= @name
    - if @former_mp
      %p Not a member of the 49th Parliament
    - else
      %h2= @role_description
  #primarycontent
    - if @former_member_role && @former_member_role.resignation_url
      .divider3
      %div{ :class=>"post", :id=>'resignation' }
        %p
          = link_to('Resigned from Parliament', @former_member_role.resignation_url)
          = " with effect on "
          - if @former_member_role.valedictory_statement_url
            = @former_member_role.to_date.as_date + ", and gave "
            = link_to("valedictory statement", @former_member_role.valedictory_statement_url)
            - if @former_member_role.to_date == @former_member_role.valedictory_statement_date
              = ' on the same day.'
            - else
              = " on #{@former_member_role.valedictory_statement_date.as_date}."
          - else
            = @former_member_role.to_date.as_date + '.'
          - if @former_member_role.replaced_by
            = "Replaced by #{link_to_mp(@former_member_role.replaced_by)}."
    - if @former_member_role && @former_member_role.valedictory_statement_url && !@former_member_role.resignation_url
      .divider3
      %div{ :class=>"post", :id=>'resignation' }
        %p
          = 'Gave '
          = link_to("valedictory statement", @former_member_role.valedictory_statement_url)
          = " on #{@former_member_role.valedictory_statement_date.as_date}."
          = "Replaced by #{link_to_mp(@former_member_role.replaced_by)}."
    - if @membership_role_change
      .divider3
      %div{ :class=>"post", :id=>'membership_change' }
        %p
          = "Prior to #{@membership_role_change.to_date.as_date} "
          - party = @membership_role_change.party.abbreviated
          = link_to("was a member of #{party[/Party$/] ? 'the '+party : party}", @membership_role_change.membership_change_url) + '.'
    - if @member_role && @member_role.maiden_statement_url
      .divider3
      %div{ :class=>"post", :id=>'maiden_statement' }
        %p
          = link_to('Sworn in to Parliament', @member_role.members_sworn_url)
          = " on "
          = @member_role.members_sworn_date.as_date + ", and gave "
          = link_to("maiden statement", @member_role.maiden_statement_url)
          - if @member_role.members_sworn_date == @member_role.maiden_statement_date
            = ' on the same day.'
          - else
            = " on #{@member_role.maiden_statement_date.as_date}."
    .divider3
    - unless @bills_in_charge_of.empty?
      %div{ :class=>"post", :id=>"bills_in_charge_of" }
        %h3 Bills in charge of
        .contentarea
          %ul.linklist
            = render :partial => 'bill_link', :collection => @bills_in_charge_of
      .divider3
    - unless @recent_contributions.empty?
      %div{ :class=>"post", :id=>"recent_appearences" }
        %h3 Most recent appearances in parliament
        .contentarea
          %p
            %em If this MP has contributed more than once to a debate, only one speech is shown.
          %dl
            = render :partial => 'recent_contribution', :collection => @recent_contributions, :locals => {:expand => 'false'}
    - unless @pecuniary_interests_by_category.empty?
      .divider3
      %div{ :class=>"post", :id=>"pecuniary_interests" }
        %h3 Register of pecuniary interests
        .contentarea
          - @pecuniary_interests_by_category.each do |interest|
            .regmemcategory= interest[0].id.to_s + '. ' + interest[0].name
            - interest[1].each do |i|
              .regmemitem= i.item
          %p.italic= %Q[Data source: <a href="http://www.parliament.nz/en-NZ/MPP/MPs/FinInterests/4/7/3/00CLOOCMPPFinInterests20081-Register-of-Pecuniary-Interests-of-Members.htm">Register of Pecuniary Interests of Members of Parliament: Summary of annual returns as at 31 January 2008</a>.]
    .divider3
    %div{ :class=>"post", :id=>"external_links" }
      %h3 External links
      .contentarea
        %ul.linklist
          %li#wikipedia= link_to('Wikipedia entry on ' + @mp.full_name, @mp.wikipedia_url)
          - if @mp.parliament_url
            %li#parliament_bio
              = link_to('Parliament page on ' + @mp.full_name, @mp.parliament_url, :rel=>"nofollow")
          - if @mp.party_bio_url
            %li#party_bio
              = link_to("#{@party} page on #{@mp.full_name}", @mp.party_bio_url, :rel=>"nofollow")
#questions_section
  - if @subjects_answered_about.size > 0
    .box
      %h3 Answers most questions about these subjects
      .contentarea
        %ul.linklist
          %li= @subjects_answered_about.collect {|s| link_to s[0], get_url(s[1].last)}.join("</li>\n<li>")
      - if @portfolios_answered_about.size > 0
        .divider3
        %h3 Answers most questions about these portfolios
        .contentarea
          %ul.linklist
            %li= @portfolios_answered_about.collect {|p| link_to_portfolio(p[0])}.join("</li>\n<li>")
      - if @subjects_answered_about.size > 0
        .contentarea
          %p
            %small= %Q[(based on oral questions answered by #{ @name })]
  - if @subjects_asked_about.size > 0
    .box
      %h3 Asks most questions about these subjects
      .contentarea
        %ul.linklist
          %li= @subjects_asked_about.collect {|s| link_to s[0], get_url(s[1].last)}.join("</li>\n<li>")
      .divider3
      %h3 Asks most questions about these portfolios
      .contentarea
        %ul.linklist
          %li= @portfolios_asked_about.collect {|p| link_to_portfolio(p[0])}.join("</li>\n<li>")
        %p
          %small= %Q[(based on oral questions asked by #{ @name } and answered by Ministers or Members)]
