- @title = @portfolio.full_name + ' Portfolio: Aotearoa New Zealand Parliament'
.debates
  - if not @debates_in_groups_by_name
    %p No oral questions found.
  - elsif (@debates_in_groups_by_name.empty? && @older_debates_in_groups_by_name.empty?)
    %p= "No #{link_to 'debates', :action => 'index'} found #{'on' if @date.day} #{'in' unless @date.day} #{@date.year}#{'-'+@date.month if @date.month}#{'-'+@date.day if @date.day}."
  - else
    - if @debates_size > 10
      - if @debates_in_groups_by_name.size > 0
        %h2 Oral questions - recent two months
        = render :partial => 'oral_answers', :locals => { :debates_in_groups_by_name => @debates_in_groups_by_name }
      - if @older_debates_in_groups_by_name.size > 0
        %h2 Older oral questions
        = render :partial => 'oral_answers', :locals => { :debates_in_groups_by_name => @older_debates_in_groups_by_name }
    - else
      %h2 Oral questions
      = render :partial => 'oral_answers', :locals => { :debates_in_groups_by_name => @debates_in_groups_by_name }
