#ctg
  %h2 More Information
  %p For your information, the members of the Corporate Taxpayers Group are:
  %ol
    %li= link_to 'Air New Zealand Limited', 'http://theyworkforyou.co.nz/organisations/air_nz_limited'
    %li AMP Life Limited
    %li= link_to 'ANZ National Bank Limited', 'http://theyworkforyou.co.nz/organisations/anz_national_bank_limited'
    %li= link_to 'ASB Bank Limited', 'http://theyworkforyou.co.nz/organisations/asb_bank'
    %li AXA New Zealand Limited
    %li= link_to 'Bank of New Zealand', 'http://theyworkforyou.co.nz/organisations/bank_of_nz'
    %li= link_to 'Contact Energy Limited', 'http://theyworkforyou.co.nz/organisations/contact_energy_limited'
    %li Fletcher Building Limited
    %li Fonterra Cooperative Group Limited
    %li General Electric
    %li Goodman Fielder New Zealand Limited
    %li= link_to 'The Hongkong and Shanghai Banking Corporation Limited (New Zealand branch)', 'http://theyworkforyou.co.nz/organisations/hongkong_and_shanghai_banking_corporation_ltd'
    %li IAG New Zealand Limited
    %li Infratil Limited
    %li Lion Nathan Limited
    %li New Zealand Funds Management Limited
    %li New Zealand Post Limited
    %li= link_to 'New Zealand Exchange Limited', 'http://theyworkforyou.co.nz/organisations/new_zealand_exchange'
    %li Rio Tinto Aluminium (New Zealand) Limited
    %li Shell New Zealand Limited
    %li= link_to 'SKYCITY Entertainment Group Limited', 'http://theyworkforyou.co.nz/organisations/skycity_entertainment_group'
    %li= link_to 'Sky Network Television Limited', 'http://theyworkforyou.co.nz/organisations/sky_network_television'
    %li= link_to 'Telecom New Zealand Limited', 'http://theyworkforyou.co.nz/organisations/telecom_nz'
    %li= link_to 'TelstraClear Limited', 'http://theyworkforyou.co.nz/organisations/telstraclear'
    %li TOWER Limited
    %li Toll New Zealand Limited
    %li Turners and Growers Limited
    %li Vector Limited
    %li Vodafone New Zealand Limited
    %li= link_to 'Westpac New Zealand Limited', 'http://theyworkforyou.co.nz/organisations/westpac_nz'
    %li ZESPRI International Limited
  %p
    This list was sourced from
    = link_to("CTG's submission", 'http://www.parliament.nz/NR/rdonlyres/9D9D1324-9B97-487D-84EE-55DB30F6F98C/68845/CorporateTaxpayersGroup1.pdf')
    on the Limited Partnerships Bill.
