- @title = @organisation.name
%h1= @title
- if @organisation.name.include? 'Donors, anonymous'
  - unless @organisation.donations.empty?
    %p
      = "Anonymous dononations to #{@organisation.donations.first.party.short}."
- elsif @organisation.name.include? 'Donors, individuals'
  - unless @organisation.donations.empty?
    %p
      = "Individuals dononations to #{@organisation.donations.first.party.short}."
- else
  %p
    = @organisation.name
    is an
    = link_to 'organisation', {:controller => 'organisations'}
    - if @business_item_name_to_submissions.empty?
      - if @donations_total > 0 && @organisation.name.include?('Trust')
        or trust
      - if @count_of_mentions > 0
        that has been mentioned in Parliament.
      - elsif @donations_total > 0
        that has made political donations.
      - else
        that operates in New Zealand.
    - else
      that has made one or more submissions to select committees of New Zealand's Parliament.
- unless @business_item_name_to_submissions.empty?
  #submissions
    %h2 Submissions to Select Committees
    %table
      %thead
        %th= 'Since September 2007'
        %th Evidence submitted
      %tbody
        = render :partial => 'business_item_submission', :collection => @business_item_name_to_submissions.keys, :locals => {:business_item_name_to_submissions => @business_item_name_to_submissions}

- if @count_of_mentions > 0
  #mentions_in_parliament
    %h2 Mentions in Parliament
    %p
      - if @organisation.name.include? 'Donors, anonymous'
        = "Anonymous dononations to #{@organisation.donations.first.party.short} have been "
      - else
        = "#{@organisation.name} has been "
      = link_to("mentioned in #{@count_of_mentions} parliamentary #{@count_of_mentions == 1 ? 'debate' : 'debates'}", %Q[/organisations/#{@organisation.slug}/mentions]) + " since November 2005."
- unless @organisation.donations.empty?
  #donations
    %h2 Donations to political parties
    %table
      %tbody
        = render :partial => 'donation', :collection => @organisation.donations
        %tr
          %td
          %td
          %td Total
          %td.donation= "$#{number_with_delimiter(@organisation.donations_total)}"
    %p.source
      - if @organisation.name == 'Exclusive Brethren'
        Amount source:
        = link_to 'email to Don Brash', 'http://img.scoop.co.nz/stories/images/0611/099b562bb6d6ecd06187.jpeg'
      - else
        Data source:
        = link_to 'www.elections.org.nz', 'http://www.elections.org.nz/record/donations/donations-summary.html'
- if @organisation.name == 'Corporate Taxpayers Group'
  = render :partial => 'ctg', :object => @organisation
- else
  - unless @organisation.wikipedia_url.blank? && @organisation.url.blank?
    #external_links
      %h2 External links
      %ul.linklist
        - unless @organisation.wikipedia_url.blank?
          %li
            = link_to('Wikipedia page on ' + @organisation.name, @organisation.wikipedia_url, :rel=>"nofollow")
        - unless @organisation.sourcewatch_url.blank?
          %li
            = link_to('Sourcewatch page on ' + @organisation.name, @organisation.sourcewatch_url, :rel=>"nofollow")
        - if @organisation.url
          %li
            = link_to('Website of ' + @organisation.name, 'http://'+@organisation.url+'/', :rel=>"nofollow")
        - if @organisation.url && File.exist?(@organisation.thumbnail)
          %li
            = link_to(image_tag(@organisation.thumbnail_path), 'http://'+@organisation.url+'/', :rel=>"nofollow")
