#bill_events
  %h2 Bill Events
  %table.bill-table
    %tbody
    %tr
      %th.debate-column Event
      %th.date Date
      %th.summary
      - have_votes = have_votes(bill_events, votes_by_name)
      - if have_votes
        %th.ayes Ayes
        %th.noes Noes
        %th.abstentions Abstentions
    - bill_events = bill_events.reverse
    - bill_events.each do |bill_event|
      - unless bill_event.source
        - is_first_event = (bill_event == bill_events.last)
        - date = bill_event.date
        - name = bill_event.name
        - debates = debates_in_groups_by_name.blank? ? nil : debates_in_groups_by_name.select {|list| list.first.normalized_name == name}.flatten
        - debates = nil if debates.blank?
        - votes = votes_by_name.blank? ? nil : votes_by_name[name]
        - no_vote_info = (debates.nil? && date < Date.new(2005,11,1) && name.include?('Reading') ) ? 'n/a*' : nil
        %tr
          %td= debate_name name, debates
          %td.date= debate_date date, debates
          %td.summary= bill_event_summary name, votes, @bill, debates, is_first_event
          - if have_votes
            %td.ayes= no_vote_info ? no_vote_info : vote_ayes(votes, debates)
            %td.noes= no_vote_info ? no_vote_info : vote_noes(votes, debates)
            %td.abstentions= no_vote_info ? no_vote_info : vote_abstentions(votes, debates)
  - if missing_votes? bill_events
    %p* We don't have voting data from before Nov 2005 in our database at present.
