#bill_events
  %h2 Bill Events
  %table.bill-table
    %tbody
    %tr
      %th.debate-column Event
      %th.date Date
      %th.summary
      - if @have_votes
        %th.ayes Ayes
        %th.noes Noes
        %th.abstentions Abstentions
    - bill_events.each do |bill_event|
      %tr
        %td= bill_event_name bill_event
        %td.date= bill_event_dates bill_event
        %td.summary= bill_event_result_summary bill_event
        - if @have_votes
          - if bill_event.is_reading_before_nov_2005?
            %td.ayes n/a *
            %td.noes n/a *
            %td.abstentions n/a *
          - else
            %td.ayes= vote_ayes(bill_event)
            %td.noes= vote_noes(bill_event)
            %td.abstentions= vote_abstentions(bill_event)
  - if @missing_votes
    %p* We don't have voting data from before Nov 2005 in our database at present.
