- key = bill
- bill = bills[key].first
%tr
- if bill
  %td.bill= link_to(bill.bill_name, show_bill_url(:bill_url => bill.url))
  %td= bill.member_in_charge.party ? link_to_party(bill.member_in_charge.party) : 'no party '+ bill.member_in_charge.full_name
  %td= bill_type(bill).chomp(' bill')
  - unless bill.divided_into_bills.empty?
    - bill.divided_into_bills.sort_by(&:bill_name).each do |split_bill|
      %tr
        %td.split_bill= link_to_bill split_bill
        %td
        %td
- else
  %td= key
  %td
  %td
