- @title = "Bills: Aotearoa New Zealand Parliament "
- @description = 'Current bills debated by the 48th New Zealand Parliament'
- @javascript = 'bills_table'
#normalcontent
  %h1 Current Bills
  .divider3
  .contentarea
    %p
      %span= @description
      %span.right
        %span See also:
        %span= link_to('Assented Bills', assented_url) + ' | ' + link_to ('Negatived Bills', negatived_url)
    .yui-skin-sam
      #bills
        %table#bill-table
          %thead
            %tr
              %th Type
              %th#party_of_mp_in_charge= 'Party'
              %th Bill name
              %th Event
              %th Event date
          %tbody
            = render(:partial => 'a_bill', :collection => @bills_current)
    .divider3
    .divider3
    %p See also:
    = link_to('Assented Bills', assented_url) + ' | ' + link_to ('Negatived Bills', negatived_url)
