- @title = about_title(@bill)
- @description = bill_meta_description(@bill)
- is_production_env = (RAILS_ENV == 'production')
- @javascript = 'feeds' if is_production_env
- @atom = 'show_bill_atom' unless is_production_env
- cache do
  #primarycontainer
    = render :partial => 'bill_description', :object => @bill
    - if @submissions_count > 0
      %p
        There have been
        = link_to "#{@submissions_count} submissions", show_bill_submissions_url(:bill_url => @bill.url)
        on this bill.
    - if @admin
      %p= h @bill.inspect
      - @bill.bill_events.each do |e|
        %p= h e.inspect
    = render :partial => 'bill_events', :object => @top_level_bill_events
    - if is_production_env || true
      = render :partial => 'news_feeds'
- if current_user
  = render :partial => 'bill_tracking'
