- @title = about_title(@bill)
- is_production_env = (RAILS_ENV == 'production')
- @javascript = 'feeds' if is_production_env
- @atom = 'show_bill_atom' unless is_production_env
- cache do
  #primarycontainer
    = render :partial => 'bill_description', :object => @bill
    - if @submissions_count > 0
      %p
        There have been
        = link_to "#{@submissions_count} submissions", show_bill_submissions_url(:bill_url => @bill.url)
        on this bill.
    = render :partial => 'bill_events', :object => @top_level_bill_events
    - if is_production_env
      #news_feed
        .hfeed
          %h2.feed-title News coverage
          .entries
            %p loading...
      #blog_feed
        .hfeed
          %h2.feed-title Blog coverage
          .entries
            %p loading...
- if current_user
  #tracking_details
    - form_for(:tracking, @tracking, :html => {:id => 'new_tracking'}) do |f|
      #tracking
        = f.radio_button :tracking_on, true
        %label{ :for => 'tracking_tracking_on_true' } I'm tracking
      #not_tracking
        = f.radio_button :tracking_on, false
        %label{ :for => 'tracking_tracking_on_false' } I'm not tracking
      = f.hidden_field :item_type
      = f.hidden_field :item_id
    = observe_form :new_tracking, :url => { :controller => 'trackings', :action => 'create' }, :update => "trackers_list", :frequency => "0.25"
    #trackers
      %h3 Tracking this bill
      %p#trackers_list
        = tracker_list @trackings
