- if contribution.is_vote?
  .divider2
  = render :partial => 'vote', :collection => [contribution.vote], :locals => {:anchor_in_debate => (contribution.anchor_in_debate(debate))}
- else
  - anchor_in_debate = contribution.anchor_in_debate(debate)
  - if anchor_in_debate.to_i == 1
    = ''
  - else
    - previous_contribution = debate.previous_contribution(contribution)
    %div{ :class => get_preceding_divider_for(contribution, previous_contribution) }
  %div{ :id => anchor_in_debate, :class => contribution.css_class }
    - if contribution.has_speaker?
      - if contribution.anchor_prefix
        %p.speaker{:id=>contribution.prefixed_anchor}= speaker_link contribution
      - else
        %p.speaker= speaker_link contribution
    = format_contribution(contribution, @organisations, @organisation_names)
