- if contribution.is_vote?
  - if contribution.previous_in_debate.is_a? ClauseModel
    .divider3
  - else
    .divider3
  = render :partial => 'vote', :collection => [contribution.vote], :locals => {:anchor_in_debate => (contribution.anchor_in_debate(debate))}
- else
  - if contribution.anchor_in_debate(debate).to_i == 1
    = ''
  - else
    %div{ :class => get_preceding_divider(contribution) }
  - anchor_in_debate = contribution.anchor_in_debate(debate)
  %div{ :id => anchor_in_debate, :class => contribution.css_class }
    - if contribution.has_speaker?
      - if contribution.anchor_prefix
        %p.speaker{:id=>contribution.prefixed_anchor}= speaker_link contribution
      - else
        %p.speaker= speaker_link contribution
    = format_contribution(contribution, @organisations, @organisation_names)
