- debate = debate_nav
- if true || RAILS_ENV == 'production'
  .blank_box
    .contentarea
      %p
        Please <a href="https://apps.facebook.com/promosapp/183177/entry/185251">vote for this site</a> in the great New Zealand <a href="https://apps.facebook.com/promosapp/183177/entry/185251">Mix and Mash</a> competition:
      %p
        <a href="https://apps.facebook.com/promosapp/183177/entry/185251">vote here</a> - thanks!
      - if false
        = %Q|<script type="text/javascript"><!--|
        = %Q|google_ad_client = "ca-pub-8597146813885553";|
        = %Q|/* TWFY NZ 200x200 */|
        = %Q|google_ad_slot = "7628374736";|
        = %Q|google_ad_width = 200;|
        = %Q|google_ad_height = 200;|
        = %Q|//-->|
        = %Q|</script>|
        = %Q|<script type="text/javascript"|
        = %Q|src="http://pagead2.googlesyndication.com/pagead/show_ads.js">|
        = %Q|</script>|
.box
  .contentarea
    %ul.linklist
      %li= 'All on ' + link_to("#{date_to_s debate.date}", show_debates_on_date_url({:url_category=>'debates'}.merge(debate.date_hash)))
      - if debate.prev_debate_id_hash
        %li= '&laquo; ' + link_to("Previous", get_url_from_hash(debate.prev_debate_id_hash)) + ' on day'
      - if debate.next_debate_id_hash
        %li= '&raquo; ' + link_to("Next", get_url_from_hash(debate.next_debate_id_hash)) + ' on day'

- if @about and @about_type.to_s == 'Bill'
  .box
    .contentarea
      %ul.linklist
        %li= 'More about ' + link_to_about(@hash, @about, @about_type)

- if debate.name.include?('General Debate') || (debate.is_a?(SubDebate) && debate.parent && debate.parent.kind_of?(BillDebate) && ( (debate.contributions.select(&:is_speech?).size > 1) || (debate.contributions.select(&:is_vote?).size > 0) ) )
  .box
    .contentarea
      %h4 Speeches
      %ul.linklist
        - if debate.contributions.size > 100
          = render :partial => 'speech_link', :collection => debate.contributions[0..100]
          %li
            = "[... plus a further #{debate.contributions.size - 100} contributions not shown here]"
        - else
          = render :partial => 'speech_link', :collection => debate.contributions
- if debate
  = calendar_nav debate.date
