#primarycontainer
  %div{ :class=> @debate.css_class }
    = render :partial => 'debate'
    - unless @debate.is_a? DebateAlone
      - @debate.sub_debates.each do |subdebate|
        %div{ :class=> subdebate.css_class }
          = render :partial => 'debate', :object => subdebate
  - if @admin
    - @debate.bill_events.each do |e|
      %p
        = h e.inspect
        - if e.bill
          = link_to_bill(e.bill)
    - @debate.debate_topics.each do |d|
      %p
        = h d.inspect
        - if d.topic
          = link_to_bill(d.topic)

#secondarycontent
  = render :partial => 'debate_nav', :object => @debate
