- @title = about_title(@about)
#primarycontainer
  .debates
    - if (not(@date) and @about and @about.respond_to? :description)
      %p= @about.description
    - if not @debates_in_groups_by_name
      %p No debates found.
    - elsif @debates_in_groups_by_name.empty?
      = "<p>No #{link_to 'debates', :action => 'index'} found #{'on' if @date.day} #{'in' unless @date.day} #{@date.year}#{'-'+@date.month if @date.month}#{'-'+@date.day if @date.day}.</p>"
    - else
      %ul.linklist
        - @debates_in_groups_by_name.each do |debates|
          - debates = debates.reverse if (debates.size > 0 and (not debates.first.is_a? DebateAlone) and (not debates.first.about.is_a? Portfolio))
          - many = debates.size > 1
          - if many
            - debates.each { |d| d.name = d.name.sub(d.name.split('—')[0]+'—', '') }
            %li
              %span= debates.first.normalized_name
              %ul.linklist
                - if debates.first.is_a? SubDebate
                  - debates.each do |debate|
                    %li= link_to_debate debate, show_status=true, show_date=true, show_parent=false
                - else
                  = render :partial => 'debate_link', :collection => debates, :locals => { :show_date => true }
          - else
            - if debates.first.is_a? SubDebate
              - debates.each do |debate|
                %li= link_to_debate debate, show_status=true, show_date=true, show_parent=true
            - else
              = render :partial => 'debate_link', :collection => debates, :locals => { :show_date => true }
