= '<?xml version="1.0" encoding="UTF-8"?>'
%feed{ 'xml:lang'.to_sym => "en-NZ", :xmlns => "http://www.w3.org/2005/Atom" }
  %id= 'tag:localhost:people'
  %link{ :type=>"application/atom+xml", :rel=>"self", :href=>"http://example.com/people.atom" }
  %title Items tracked
  %updated
  - @tracked_items.reverse.each do |tracked_item|
    - debates_in_groups_by_name, votes_by_name = tracked_item.debates_by_name_names_votes_by_name
    - events_by_date = tracked_item.bill_events
    - bill_event = events_by_date.last
    - date = bill_event.date
    - name = bill_event.name
    - debates = debates_in_groups_by_name.blank? ? nil : debates_in_groups_by_name.select {|list| list.first.normalized_name == name}.flatten
    - debates = nil if debates.blank?
    - votes = votes_by_name.blank? ? nil : votes_by_name[name]
    %entry
      %id= "tag:twfy,2007-05-18T16:35:00-07:00:#{tracked_item.class.name}#{tracked_item.id.to_s}"
      %updated= (debates) ? debates.first.date.xmlschema : tracked_item.last_event[0]
      - link = (debates) ? get_url(debates.first) : show_bill_url(:bill_url => tracked_item.url)
      %link{ :type => "text/html", :rel => "alternate", :href => link }
      %title= tracked_item.bill_name
      %content{ :type=>"html" }= debate_name name, debates
      %author
        %name TheyWorkForYou.co.nz
        %email support@theyworkforyou.co.nz
