- @title = "TheyWorkForYou.co.nz: Is Aotearoa New Zealand's Parliament working for you?"
- @home = true
- @script = "Event.observe(window, 'load', function() { if ($('user_login')) $('user_login').focus(); } );"
#normalcontent
  %p
    %a{ :href=>"http://creativefreedom.org.nz/blackout.html" }
      %img{ :width=>'700', :height=>'512', :src=>"http://creativefreedom.org.nz/library/black-out/blackout-day7.png", :alt=>"This Saturday, February 28th, Section 92A of the Copyright Act is due to come into force. This website has voluntarily been taken down in protest against this law, which will be used to disconnect New Zealanders from the internet based on accusations of copyright infringement, without a trial and without evidence held up to court scrutiny. May we be very clear: we do not support or condone copyright infringement or illegal downloads. But this blatant disregard towards the basic human right to a fair trial is completely unjust and unworkable and it has the potential to punish New Zealand businesses and individuals where in fact no laws have been broken. Similar laws have been rejected in the EU as being against \"a fair balance between various fundamental rights\", rejected in the UK due to \"impracticalities\", and rejected in Germany as being 'Unfit for Germany, Unfit For Europe'. We don't care who voted for the law in the first place. We just want it stopped. We call on the Minister responsible, National's Simon Power, to do the right thing and repeal Section 92A immediately. Visit CreativeFreedom.org.nz to learn more" }
  %h1 Find out what your elected representatives are doing in Aotearoa New Zealand's Parliament.
  #project_summary
    =render :partial => 'project_summary'
  %p#compare_parties
    You can also
    = link_to 'compare party voting', {:controller=>'application', :action=>'parliament', :id=>48}
    in the 48th Parliament.
#primarycontainer
  #primarycontent
  - unless @submission_dates.nil? || @submission_dates.empty?
    #public_bill_submissions
      %h2 Bills open for public submissions
      %table.bill-table
        %tbody
          - @submission_dates.each do |date|
            %tr
              %td= link_to date.title, show_bill_url(:bill_url => date.bill.url)
              %td= "#{format_date date.date}"
  - if @latest_debates
    #latest_content
      #latest_debates
        .latest_debates
          %h2 Latest debate transcript
          = date_to_s @latest_debates.first.date
          %ul
            - @latest_debates.each do |debate|
              - if debate.is_a?(DebateAlone)
                %li= link_to_debate(debate)
              - elsif debate.is_a?(OralAnswers)
                %li= link_to_debate debate, false, false, true
              - else
                %li= link_to_debate debate.sub_debate, false, false, true
      #latest_orals
        .latest_orals
          %h2 Latest oral answers
          = date_to_s @latest_orals.first.date
          %ul
            - @latest_orals.each do |debate|
              %li= link_to_debate debate, false, false, true
  - if @days_top_pages
    #popular_content
      #popular_last_day
        .popular_last_day
          %h2 Popular yesterday
          %ul
            - @days_top_pages.each do |item|
              %li= link_to("#{item.page_title}", item.url) + " <span class='page_views'>(#{item.unique_pageviews})</span>"
      #popular_last_week
        - if @weeks_top_pages
          .popular_last_week
            %h2 Popular over last week
            %ul
              - @weeks_top_pages.each do |item|
                %li
                  = link_to(item.page_title, item.url)
                  %span.page_views
                    ="(#{item.unique_pageviews})"
- #render :partial => 'calendar.haml'
