- @title = "TheyWorkForYou.co.nz: Is Aotearoa New Zealand's Parliament working for you?"
- @home = true
- @script = "Event.observe(window, 'load', function() { if ($('user_login')) $('user_login').focus(); } );"
#normalcontent
  - "%h1 Find out what your elected representatives are doing in Aotearoa New Zealand's Parliament."
  %h1 New Zealand's General Election is on Saturday!
  %p
    New Zealanders now is your last chance to <a href="http://www.elections.org.nz/enrolment/how-to-enrol/how-to-enrol-to-vote.html">enrol to vote</a>.
    You can find out <a href="http://www.elections.org.nz/news/where-to-vote.html">where to vote</a> now.
    Kiwis living overseas can <a href="http://www.elections.org.nz/voting/votingsub/how-vote-overseas.html">vote from overseas</a> from now until 7th November.
    %h2#compare_parties Differences between Parties
    =render(:partial => 'parties/principal_components_explanation')
    %h2#party_voting Comparison of Party Bill Voting
    =render(:partial => 'parties/vote_matrix_explaination')
#primarycontainer
  #primarycontent
  - #project_summary
  -   #render :partial => 'project_summary'
  - unless @submission_dates.nil? || @submission_dates.empty?
    #public_bill_submissions
      %h2 Bills open for public submissions
      %table.bill-table
        %tbody
          - @submission_dates.each do |date|
            %tr
              %td= link_to date.title, show_bill_url(:bill_url => date.bill.url)
              %td= "#{format_date date.date}"
  - if @days_top_pages
    #popular_content
      #popular_last_day
        .popular_last_day
          %h2 Popular yesterday
          %ul
            - @days_top_pages.each do |item|
              %li= link_to("#{item.page_title}", item.url) + " <span class='page_views'>(#{item.unique_pageviews})</span>"
      #popular_last_week
        - if @weeks_top_pages
          .popular_last_week
            %h2 Popular over last week
            %ul
              - @weeks_top_pages.each do |item|
                %li= link_to("#{item.page_title}", item.url) + " <span class='page_views'>(#{item.unique_pageviews})</span>"
- #render :partial => 'calendar.haml'
