- @title = "TheyWorkForYou.co.nz: Is Aotearoa New Zealand's Parliament working for you?"
- @home = true
- @script = "Event.observe(window, 'load', function() { if ($('user_login')) $('user_login').focus(); } );"
= render :partial => 'layouts/blackout'
#normalcontent
  %h1 Find out what your elected representatives are doing in Aotearoa New Zealand's Parliament.
  #project_summary
    =render :partial => 'project_summary'
  %p#compare_parties
    You can also
    = link_to 'compare party voting', parliament_url(:id => @parliament.id)
    in the
    = @parliament.ordinal
    Parliament.
#primarycontainer
  #primarycontent
  - unless @submission_dates.blank?
    #public_bill_submissions
      %h2 Bills open for public submissions
      %table.bill-table
        %tbody
          - @submission_dates.each do |date|
            %tr
              %td= link_to date.title, show_bill_url(:bill_url => date.bill.url)
              %td.date= "#{format_date date.date}"
  #column_content
    #left_column_content
      - unless true || @latest_orals.empty?
        .latest_orals
          %h2 Latest oral answers
          = date_to_s @latest_orals.first.date
          %ul
            - @latest_orals.each do |debate|
              %li= link_to_debate debate, false, false, true
      - if false && @latest_debates
        .latest_debates
          %h2 Latest debate transcript
          = date_to_s @latest_debates.first.date
          %ul
            - @latest_debates.each do |debate|
              - if debate.is_a?(DebateAlone)
                %li= link_to_debate(debate)
              - elsif debate.is_a?(OralAnswers)
                %li= link_to_debate debate, false, false, true
              - else
                %li= link_to_debate debate.sub_debate, false, false, true
      - if @days_top_pages
        .popular_last_day
          %h2 Popular yesterday
          %ul
            - @days_top_pages.each do |item|
              %li= link_to("#{item.page_title}", item.url) + " <span class='page_views'>(#{item.unique_pageviews})</span>"
    - if true
      #right_column_content
        - if @weeks_top_pages
          .popular_last_week
            %h2 Popular over last week
            %ul
              - @weeks_top_pages.each do |item|
                %li
                  = link_to(item.page_title, item.url)
                  %span.page_views
                    ="(#{item.unique_pageviews})"
        - if false
          #twitter_feed
- #render :partial => 'calendar.haml'
