- inside_layout 'application' do
  = render :partial => 'layouts/blackout'
  - if @debate
    - @title = @debate.title unless @title
    - @date = @debate.date unless @date
    - @description = @debate.description if @debate.description
  - if not @home
    #normalcontent
      - if @about and !@debate
        %h1= @about.full_name
      - elsif !@about_on
        - if @debate
          - if @debate.respond_to? :parent
            - if @debate.parent.is_a? OralAnswers
              %h1{ :class=> @debate.css_class }= @debate.name
            - else
              %h1{ :class=> @debate.parent.css_class }= @debate.parent.name
              %h2{ :class=> @debate.css_class }= @debate.name
          - else
            %h1{ :class=> @debate.css_class }= @debate.name.sub(', ', ', <br />')
            - if @debate.is_parent_with_one_sub_debate?
              %h2{ :class=> @debate.sub_debate.css_class }= @debate.sub_debate.name
        - elsif @no_heading
        - elsif @heading
          %h1= @heading
        - else
          %h1 House of Representatives debates
      - if @date
        - if @debate
          %p
            %span.date= date_to_s(@date)
            %span.publication_status= status_description(@debate)
            %small.hansard-source= link_to_hansard('Hansard source', @debate) + ' (external site)'
        - else
          %p
            %span.date= date_to_s @date
            - if @publication_status
              %span.publication_status= @publication_status
  = @content_for_layout
